{% extends 'layouts/base.html' %}

{% block content %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles/login.css' %}">

    <div class="login_content">
        <h1>SELECT AN OPTION TO YOUR ACCOUNT</h1>
        
        <div class="login">
            <h1>LOGIN</h1>
            <form method="POST">
                {% csrf_token %}
                {{login_form}}
                <button>
                    LOGIN
                </button>
            </form>
        </div>

    </div>

{% endblock %}