{% extends 'layouts/base.html' %}

{% block content %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles/register.css' %}">

    <div class="register_container">
        <h1>SIGN-IN WITH YOUR ACCOUNT</h1>
        
        <div class="register">
            <form class="register_formulary" action="" method="POST">
                {% csrf_token %}
                <input type="text" name="username" placeholder="Username">
                <br>
                <input type="email" name="email" placeholder="E-mail">
                <br>
                <input type="password" name="password" placeholder="Password">
                <br>
                <button id="register_button" type="submit">Submit</button>
            </form>
        </div>
    </div>




{% endblock %}